modules = ["nodejs-20", "python-3.11", "web"]
run = "sh start.sh"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Start Full Stack"

[[workflows.workflow]]
name = "Start Backend"
author = 44302482
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && pip install -r requirements.txt && python app.py"

[[workflows.workflow]]
name = "Start Backend"
author = 44302482
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python app.py"

[[workflows.workflow]]
name = "Start Full Stack"
author = 25968941
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && pip install -r requirements.txt && python app.py"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5173
externalPort = 80

[[ports]]
localPort = 5174
externalPort = 3000

[[ports]]
localPort = 5175
externalPort = 3001